<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Truco - Listagem de Partidas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listagem_partidas.css') }}">
</head>
<body>
    <div class="container">
        <h1>Easy Truco</h1>
        <h2>Listagem de Partidas</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if partidas %}
            <ul>
                {% for partida in partidas %}
                    <li>
                        <strong>Local:</strong> {{ partida.local }}<br>
                        <strong>Horário:</strong> {{ partida.horario.strftime('%d/%m/%y, %H:%M') }}<br>
                        <strong>Organizador:</strong> {{ partida.organizador }}<br>
                        <strong>Jogadores:</strong> {{ partida.jogadores.split(',') | length }}/4<br>
                        
                        {% set jogadores = partida.jogadores.split(',') %}
                        
                        {% if '1' in jogadores %}
                            <form action="/sair_partida/{{ partida.id }}" method="POST">
                                <button type="submit">Sair da Partida</button>
                            </form>
                        {% else %}
                            {% if partida.jogadores.split(',') | length < 4 %}
                                <form action="/entrar_partida/{{ partida.id }}" method="POST">
                                    <button type="submit">Juntar-se à Partida</button>
                                </form>
                            {% else %}
                                <p>Partida cheia!</p>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há nenhuma partida disponível.</p>
        {% endif %}

        <button onclick="window.location.href='/cadastrar_partida'">Cadastrar Nova Partida</button>
    </div>
</body>
</html>
